*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* a {
  text-decoration: none;
}

* button {
  cursor: pointer;
}

* ul {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  scroll-padding-top: 100px;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

.container {
  padding: 1em;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .container {
    padding: 1em 2em;
  }
}

body {
  background-color: #fff;
}

.nav {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  position: fixed;
  background-color: #fff;
  border-bottom: 2px solid #c2e5d3;
}
.nav__overlay {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
@media only screen and (min-width: 768px) {
  .nav__overlay {
    display: none;
  }
}
.nav__overlay.active {
  opacity: 1;
  display: block;
}
.nav__navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}
.nav__logo img {
  width: 120px;
  object-fit: cover;
}
@media only screen and (min-width: 768px) {
  .nav__logo img {
    width: 150px;
  }
}
.nav__links {
  position: absolute;
  right: 0;
  top: 0;
  width: 70vw;
  height: 100vh;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 10000;
  box-shadow: 0 0 10px #000;
}
@media only screen and (min-width: 768px) {
  .nav__links {
    background-color: transparent;
    flex-direction: row;
    transform: translate(0);
    position: inherit;
    width: inherit;
    height: inherit;
    box-shadow: inherit;
    background-color: none;
  }
}
.nav__links.active {
  transform: translateX(0);
}
.nav__link {
  padding: 0.5em 1em;
  text-transform: uppercase;
  color: #000;
  position: relative;
  text-align: center;
  transition: color 0.2s, background-color 0.2s;
}
@media only screen and (min-width: 768px) {
  .nav__link {
    color: #000;
  }
}
@media only screen and (min-width: 1024px) {
  .nav__link {
    font-size: 1.5rem;
  }
}
.nav__link:nth-child(2) {
  color: #009b7d;
}
.nav__link::after {
  position: absolute;
  content: "";
  background-color: #009b7d;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  transition: width 0.3s;
}
.nav__link:hover {
  color: #009b7d;
}
@media only screen and (min-width: 768px) {
  .nav__link:hover {
    color: #009b7d;
    transition: width 0.5;
  }
}
.nav__link:hover::after {
  width: 100%;
}
.nav__btn {
  padding: 0.5em;
  background: #c2e5d3;
  border: none;
  cursor: pointer;
  z-index: 99999;
  transition: 0.2s background-color;
}
@media only screen and (min-width: 768px) {
  .nav__btn {
    display: none;
  }
}
.nav__btn:hover {
  background-color: #009b7d;
}
.nav__btn-box {
  width: 30px;
  height: 15px;
  position: relative;
}
.nav__btn-bars {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #fff;
  width: 100%;
  height: 2px;
  transition: width 0.2s, background-color 0.2s;
}
.nav__btn-bars::after {
  position: absolute;
  content: "";
  right: 0;
  top: 12px;
  height: 2px;
  width: 75%;
  background-color: #fff;
  transition: width 0.2s, background-color 0.2s;
}
.nav__btn-bars::before {
  position: absolute;
  content: "";
  right: 0;
  top: 6px;
  height: 2px;
  width: 50%;
  background-color: #fff;
  transition: width 0.2s, background-color 0.2s;
}
.nav__btn:hover .nav__btn-bars {
  background-color: #fff;
}
.nav__btn:hover .nav__btn-bars::after, .nav__btn:hover .nav__btn-bars::before {
  width: 100%;
  background-color: #fff;
}
.nav__btn.active {
  background-color: #009b7d;
}
.nav__btn.active .nav__btn-bars {
  background-color: #fff;
}
.nav__btn.active .nav__btn-bars::after, .nav__btn.active .nav__btn-bars::before {
  width: 100%;
  background-color: #fff;
}

.header {
  margin-top: 70px;
  height: 70vh;
  width: 100%;
  position: relative;
}
.header::after {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  content: "";
}
.header__hero {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header__boxes {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}
.header__info {
  margin-top: 5em;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 0.5em;
}
@media only screen and (min-width: 768px) {
  .header__info {
    margin-top: 6em;
  }
}
.header__info img {
  width: 30px;
  height: 30px;
}
.header__date {
  color: #fff;
  font-size: 1.3rem;
}
@media only screen and (min-width: 768px) {
  .header__date {
    font-size: 1.8rem;
  }
}
.header__register {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  color: #fff;
  text-align: center;
  z-index: 1;
}
.header__title {
  font-size: 1.3rem;
  letter-spacing: 1px;
  display: block;
}
@media only screen and (min-width: 768px) {
  .header__title {
    width: 100%;
    font-size: 2.4rem;
  }
}
.header__btn {
  background-color: #009b7d;
  padding: 1em 3em;
  border-radius: 25px;
  color: #fff;
  letter-spacing: 1px;
  box-shadow: 0px 0px 5px #009b7d;
  text-transform: uppercase;
  font-weight: 700;
  border: 2px solid #009b7d;
  font-size: 1rem;
  transition: box-shadow 0.3s, background-color 0.3s, border 0.3s;
}
@media only screen and (min-width: 360px) {
  .header__btn {
    font-size: 1.4rem;
  }
}
.header__btn:hover {
  background-color: #93f600;
  border: 2px solid #c2e5d3;
  box-shadow: 0px 0px 15px #009b7d;
}
.header__list {
  padding: 1em;
  z-index: 1;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}
@media only screen and (min-width: 768px) {
  .header__list {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    left: 0;
    transform: translateX(0);
  }
}
.header__list-text {
  font-size: 1.05rem;
  text-align: center;
  padding: 0.2em 0.5em;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
  .header__list-text {
    font-size: 1.38rem;
  }
}

.data {
  padding-block: 1em;
  background-color: #c2e5d3;
}
@media only screen and (min-width: 768px) {
  .data {
    padding-block: 2em;
  }
}
.data__boxes {
  overflow: hidden;
}
.data__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}
.data__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3em;
  justify-content: center;
  background-color: rgba(0, 155, 125, 0.4);
  padding: 1em;
  height: 150px !important;
  text-align: center;
}
.data__box-number {
  font-size: 2rem;
  color: #fff;
  font-weight: 700;
}
@media only screen and (min-width: 360px) {
  .data__box-number {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 568px) {
  .data__box-number {
    font-size: 5rem;
  }
}
.data__box-text {
  font-size: 1.7rem;
  color: #fff;
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
  .data__box-text {
    font-size: 1.8rem;
  }
}
@media only screen and (min-width: 768px) {
  .data__box-text {
    font-size: 1.8rem;
  }
}
.data .swiffy-slider {
  --swiffy-slider-item-gap: 50px !important;
}
.data .slider-item-show2-sm {
  --swiffy-slider-item-count: 1;
}
@media only screen and (min-width: 768px) {
  .data .slider-item-show2-sm {
    --swiffy-slider-item-count: 2;
  }
}
@media only screen and (min-width: 1024px) {
  .data .slider-item-show2-sm {
    --swiffy-slider-item-count: 3;
  }
}
.data .slider-nav {
  display: none;
  filter: none;
}
@media only screen and (min-width: 768px) {
  .data .slider-nav {
    display: flex;
  }
  .data .slider-nav-previous {
    left: -20px !important;
  }
  .data .slider-nav-next {
    right: -20px !important;
  }
  .data .slider-nav::before {
    background-color: #009b7d;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
  }
  .data .slider-nav:hover::before {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .data .slider-nav::after {
    background-color: #fff;
  }
  .data .slider-nav::before, .data .slider-nav::after {
    width: 3rem;
    height: 3rem;
  }
}
.data__btn {
  background-color: #009b7d;
  padding: 1em 3em;
  border-radius: 25px;
  color: #fff;
  letter-spacing: 1px;
  box-shadow: 0px 0px 5px #009b7d;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  border: 2px solid #009b7d;
  font-size: 1rem;
  transition: box-shadow 0.3s, background-color 0.3s, border 0.3s;
}
@media only screen and (min-width: 360px) {
  .data__btn {
    font-size: 1.4rem;
  }
}
.data__btn:hover {
  background-color: #93f600;
  border: 2px solid #c2e5d3;
  box-shadow: 0px 0px 15px #009b7d;
}

.benefits {
  padding-block: 1em;
  background-color: #009b7d;
}
@media only screen and (min-width: 768px) {
  .benefits {
    padding-block: 2em;
  }
}
.benefits__boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
@media only screen and (min-width: 768px) {
  .benefits__boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
  }
}
@media only screen and (min-width: 1024px) {
  .benefits__boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: stretch;
  }
}
.benefits__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1em;
  background-color: #c2e5d3;
  width: 100%;
  max-width: 330px;
  gap: 1em;
  transition: transform 0.3s, color 0.3s, background-color 0.3s;
  border: 2px solid transparent;
}
.benefits__box:hover {
  background-color: #009b7d;
  color: #c2e5d3;
  border: 2px solid #c2e5d3;
}
@media only screen and (min-width: 768px) {
  .benefits__box {
    justify-content: flex-start;
    width: 100%;
    max-width: 100%;
  }
  .benefits__box:hover {
    transform: scale(1.05);
  }
}
.benefits__box-img {
  max-width: 130px;
  width: 100%;
  object-fit: cover;
}
.benefits__box-texts {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.benefits__box-title {
  text-align: center;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700;
}
@media only screen and (min-width: 1024px) {
  .benefits__box-title {
    font-size: 1.8rem;
  }
}
.benefits__box-text {
  line-height: 150%;
  font-size: 1.4rem;
}
@media only screen and (min-width: 1024px) {
  .benefits__box-text {
    font-size: 1.7rem;
  }
}

.program {
  background-color: #c2e5d3;
  padding-block: 1em;
}
@media only screen and (min-width: 768px) {
  .program {
    padding-block: 2em;
  }
}
.program__boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.program__content {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .program__content {
    flex-direction: row;
  }
}
.program__box {
  background-color: #c2e5d3;
  display: flex;
  padding: 1em;
  flex-direction: column;
  text-align: center;
  line-height: 150%;
}
.program__day {
  background-color: rgba(0, 155, 125, 0.4);
  padding: 1em;
  text-align: center;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
  border-bottom: 4px solid #c2e5d3;
}
.program__list {
  background-color: rgba(0, 155, 125, 0.6);
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
@media only screen and (min-width: 768px) {
  .program__list {
    max-height: 300px;
    overflow-y: scroll;
  }
}
.program__list-item {
  position: relative;
  margin-bottom: 1em;
  color: #fff;
}
.program__list-item::before {
  position: absolute;
  content: "";
  background-color: #009b7d;
  left: 50%;
  bottom: -49px;
  transform: translateX(-50%);
  width: 3px;
  height: 50px;
  border-left: 1px solid #c2e5d3;
  border-right: 1px solid #c2e5d3;
}
.program__list-item::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: -30px;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #c2e5d3;
  background-color: #009b7d;
}
.program__list-item:last-child::after, .program__list-item:last-child::before {
  display: none;
}

.prelegents {
  padding-block: 1em;
  background-image: url("https://konferencjaeuropower.pl/lp/lpm/wp-content/uploads/2020/10/3_Fin-Insur0126.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
@media only screen and (min-width: 768px) {
  .prelegents {
    padding-block: 2em;
  }
}
.prelegents__boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
@media only screen and (min-width: 768px) {
  .prelegents__boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
.prelegents__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.15em;
  text-align: center;
  transition: transform 0.3s;
}
.prelegents__box:hover {
  transform: scale(1.05);
}
.prelegents__img {
  width: 100%;
  max-width: 200px;
  margin-bottom: 0.5em;
  border-radius: 50%;
  border: 2px solid #009b7d;
}
.prelegents__name {
  color: #fff;
  font-size: 1.5rem;
}
@media only screen and (min-width: 768px) {
  .prelegents__name {
    font-size: 1.9rem;
  }
}
.prelegents__work {
  color: #fff;
  font-style: italic;
  font-size: 1.3rem;
}
@media only screen and (min-width: 768px) {
  .prelegents__work {
    font-size: 1.7rem;
  }
}/*# sourceMappingURL=main.css.map */