@import '__reset.scss';
@import '__colors.scss';
@import '__mixins.scss';
@import '__components.scss';

body {
	background-color: $white;
}

// nav

.nav {
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;
	position: fixed;
	// border-bottom: 2px solid $lime;

	&__overlay {
		position: absolute;
		right: 0;
		top: 0;
		width: 100vw;
		height: 100vh;
		background-color: rgba($color: $black, $alpha: 0.6);
		opacity: 0;
		transition: opacity 0.5s ease-in-out;

		@include respond(tablet) {
			display: none;
		}
	}

	&__overlay.active {
		opacity: 1;
	}

	&__navbar {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1em;
	}

	&__logo {
		img {
			width: 120px;
			object-fit: cover;

			@include respond(tablet) {
				width: 150px;
			}
		}
	}

	&__links {
		position: absolute;
		right: 0;
		top: 0;
		width: 70vw;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: $white;
		gap: 0.5em;
		transform: translateX(100%);
		transition: transform 0.3s ease-in-out;
		z-index: 10000;
		box-shadow: 0 0 10px $black;

		@include respond(tablet) {
			flex-direction: row;
			transform: translate(0);
			position: inherit;
			width: inherit;
			height: inherit;
			box-shadow: inherit;
		}
	}

	&__links.active {
		transform: translateX(0);
	}

	&__link {
		padding: 0.5em 1em;
		text-transform: uppercase;
		color: $black;
		background-color: $white;
		position: relative;
		text-align: center;
		transition: color 0.2s, background-color 0.2s;

		@include respond(desktop-small) {
			font-size: 1.5rem;
		}

		&:nth-child(2) {
			color: $lime;
		}

		&::after {
			position: absolute;
			content: '';
			background-color: $lime;
			width: 0;
			height: 2px;
			left: 0;
			bottom: 0;
			transition: width 0.3s;
		}

		&:hover {
			color: $lime;

			@include respond(tablet) {
				// background-color: $lime;
				// color: $white;
				transition: width 0.5;
			}

			&::after {
				width: 100%;
			}
		}
	}

	&__btn {
		padding: 0.5em;
		background: none;
		border: none;
		cursor: pointer;
		z-index: 99999;
		transition: 0.2s background-color;

		@include respond(tablet) {
			display: none;
		}

		&:hover {
			background-color: $lime;
		}

		&-box {
			width: 30px;
			height: 15px;
			position: relative;
		}

		&-bars {
			position: absolute;
			right: 0;
			top: 0;
			background-color: $black;
			width: 100%;
			height: 2px;
			transition: width 0.2s, background-color 0.2s;

			&::after {
				position: absolute;
				content: '';
				right: 0;
				top: 12px;
				height: 2px;
				width: 75%;
				background-color: $black;
				transition: width 0.2s, background-color 0.2s;
			}

			&::before {
				position: absolute;
				content: '';
				right: 0;
				top: 6px;
				height: 2px;
				width: 50%;
				background-color: $black;
				transition: width 0.2s, background-color 0.2s;
			}
		}

		&:hover &-bars {
			background-color: $white;

			&::after,
			&::before {
				width: 100%;
				background-color: $white;
			}
		}
	}

	&__btn.active {
		background-color: $lime;
		.nav__btn-bars {
			background-color: $white;

			&::after,
			&::before {
				width: 100%;
				background-color: $white;
			}
		}
	}
}

// header

.header {
	margin-top: 70px;
	height: 70vh;
	width: 100vw;
	position: relative;

	&::after {
		background-color: rgba($color: $black, $alpha: 0.6);
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		content: '';
	}

	&__hero {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__boxes {
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		align-items: center;
		height: 100%;
		width: 100%;
	}

	&__info {
		margin-top: 2em;
		z-index: 1;
		display: flex;
		align-items: center;
		gap: 0.5em;

		img {
			width: 30px;
			height: 30px;
		}
	}

	&__date {
		color: $white;
		font-size: 1.3rem;

		@include respond(tablet) {
			font-size: 1.8rem;
		}
	}

	&__register {
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 1em;
		color: $white;
		position: absolute;
		left: 50%;
		top: 50%;
		text-align: center;
		transform: translate(-50%, -50%);
		z-index: 1;
	}

	&__title {
		font-size: 1.3rem;

		// font-size: 1.8rem;
		display: block;

		@include respond(tablet) {
			width: 100%;
			font-size: 2.4rem;
		}
	}

	&__btn {
		background-color: $lime;
		padding: 1em 3em;
		border-radius: 25px;
		color: $black;
		box-shadow: 0px 0px 20px $veronesa;
		text-transform: uppercase;
		font-weight: 700;

		font-size: 1rem;

		@include respond(mobile) {
			font-size: 1.4rem;
		}

		transition: box-shadow 0.3s, background-color 0.3s;

		&:hover {
			background-color: $spring;

			box-shadow: 0px 0px 30px $lime;
		}
	}

	&__list {
		padding: 1em;
		z-index: 1;
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translateX(-50%);
		color: $white;
		display: flex;
		flex-direction: column;
		gap: 0.3em;

		@include respond(tablet) {
			left: 0;
			transform: translateX(0);
		}

		&-text {
			font-size: 1.05rem;
			text-align: center;
			padding: 0.2em 0.5em;
			background-color: rgba($color: $black, $alpha: 0.5);
			// border-radius: 25px;

			@include respond(tablet) {
				font-size: 1.38rem;
			}
		}
	}
}
